<configuration>

	<property name="LOGS" value="C:/log" />
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/Exercices-coding-games-logger.log</file>
		<encoder>
			<charset>ISO-8859-1</charset>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
			<!-- <pattern>%d{dd/MM/yyyy - HH:mm:ss} %5p %m %n</pattern> -->
		</encoder>
		<!-- <encoder -->
		<!-- class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> -->
		<!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
		<!-- </encoder> -->

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/archived/Exercices-coding-games-logger-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>

		</rollingPolicy>
	</appender>

	<logger name="org.com" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>